In [9]:
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.linear_model as sk
from sklearn.model_selection import train_test_split
import pandas as pd

In [10]:
data = sns.load_dataset('penguins')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [12]:
print(data.isnull().sum())
data.dropna(inplace=True)
print(data.isnull().sum())

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [13]:
data.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [14]:
Y = data['species'].map({'Adelie':0, 'Chinstrap':1, 'Gentoo':2}) #change names into numbers
print(Y.head(10))

0     0
1     0
2     0
4     0
5     0
6     0
7     0
12    0
13    0
14    0
Name: species, dtype: int64

In [15]:
sex = pd.get_dummies(data['sex'], drop_first=True) #if male = 1 else 0
sex.head()

    Male
0   True
1  False
2  False
4  False
5   True

In [ ]:
data.drop(['species', 'sex', 'island'], inplace=True)

In [ ]:
X = pd.concat([data, island, sex], axis=1)